.menu-checkbox:checked+.menu {
  transform: translateX(0);
}

.menu {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu--header {
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-image: linear-gradient(var(--secondary-theme-color), var(--secondary-theme-color));
  transform: translateX(100%);
  transition: transform 0.25s;
}

.menu__link {
  position: relative;
  color: var(--primary-text-color);
  font-weight: 700;
  text-decoration: none;
  transition: color 0.25s;
}

.menu__link:hover {
  color: var(--primary-highlight-color);
}

.menu__link::before {
  content: '';
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background-color: var(--secondary-highlight-color);
  transition: width 0.25s;
}

.menu__link:hover::before {
  width: 100%;
}

.menu__img {
  display: block;
  width: 24px;
  height: 24px;
  transition: transform 0.25s;
}

.menu__img:hover {
  transform: scale(1.125);
}

@media (min-width: 768px) {
  .menu {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 1rem;
    background-color: transparent;
    transform: translateX(0);
  }

  .menu__img {
    width: 32px;
    height: 32px;
  }
}